// @import url('../../assets/fonts/Bigilla.otf');
// @import url('../../assets/fonts/Bigilla-Bold.otf');

/* Webfont: BigillaDemo */
@font-face {
    font-family: 'BigillaDemo';
    src: url('../../assets/fonts/Bigilla.otf');
    src: url('../../assets/fonts/Bigilla-Bold.otf');
}
