/* CSS BEGINS */
// header {
//     position: absolute;
//     top: 0;
//     left: 0;
// }

* {
    font-feature-settings: "liga";
}

body {
    background: wheat;
}

.wrapper {
    width: 81vw;
    margin: 0 auto;
    padding: 2vw 5vw;
    border: 1px #6E5528 solid;
    border-top: none;
    border-bottom: none;
}

.wrapper:last-of-type {
    padding-bottom: 0;
}

section {
    height: 100vh;
}

section:nth-of-type(2) {
    border-bottom: 1px #6E5528 solid;
}

.landing,
.footer {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing {
    background-image: url('../assets/background-landing.png');
    justify-content: center;
    border-bottom: 1px #6E5528 solid;
}

.footer {
    background-image: url('../assets/background-footer.png');
}

.copyright {
    z-index: 100;
    color: white;
    mix-blend-mode: difference;
    font-weight: 300;
    line-height: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 18px;
}

.marquee {
    z-index: 100;
    font-family: 'BigillaDemo', serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    // color: #641010; 
    color: #999997;
    /* position: absolute; */
    /* top: 30vh; */
    /* left: 0; */
    width: 100%;
    font-size: 12vw;
    line-height: 1;
    overflow: hidden;
    mix-blend-mode: difference;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        animation: moveLeft 200s infinite 1.5s;
        white-space: nowrap;
        display: block;
        position: relative;
        opacity: 0;
    }
    span.f-e-d {
        font-size: 7vw;
        opacity: 0;
        animation: tilt 3s 1.5s 1 forwards;
    }
}

/* CONTACT BUTTON */

.contact-button {
    z-index: 100;
    height: 0;
    position: sticky;
    top: 50px;
    // width: 94vw;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    .contact-background {
        position: relative;
        // left: 50px;
        height: 65px;
        width: 65px;
        // background: #76AF18;
        mix-blend-mode: difference;
        border: 2px solid #0A224D;
        border-radius: 50%;
        transition: 0.3s;
    }
}

.button-text {
    height: 70px;
    width: 70px;
    position: absolute;
    top: -4px;
    right: 15px;
    border-radius: 50%;
    animation: spin 7s linear infinite;
    animation-play-state: running;
    filter: invert(1);
}

.button-text:hover,
.button-text:focus {
    animation-play-state: paused;
}

p,
h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

h2 {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    line-height: 35px;
    position: sticky;
    top: 0;
    border-bottom: 1px #6E5528 solid;
    background-color: #F5DEB3A0;
}

.projects {
    height: calc(100vh - 75px);
    margin-bottom: 75px;
}

.footer {
    max-height: 100vh;
    .footer-mid {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        font-family: 'Bigilla', serif;
        text-transform: uppercase;
        font-size: 45px;
        position: relative;
        top: calc(50vh - 21px);
        a {
            color: #0A224D;
            // mix-blend-mode: difference;
            text-decoration: none;
            font-style: normal;
            border-bottom: none;
            transition: 0.5s;
        }
        a:hover,
        a:focus {
            // color: white;
            transform: skewX(-20deg);
            color: white;
        }
        a:nth-of-type(2) {
            margin-left: 20px;
        }
    }
}